{% extends 'base.html' %}

{% block title %}Przegląd operacji bieżącego miesiąca{% endblock %}

{% block body %}

   <div class="row">
			
		<div class="col-12 col-lg-10 offset-lg-1 text-center mb-5 mt-lg-3 mr-0 bg-white tab-content">
									
			<h1 class="h3">Przegląd przychodów- bieżący miesiąc</h1>
			
			<table class="table table-bordered">
			  <thead>
					<tr>
					  <th>Data</th>
					  <th>Przychód</th>
					  <th>Kwota</th>
					  <th>Opis</th>
					</tr>
				
			  </thead>
			  <tbody>
			  
			  {% for item in incomes %}
				  <tr>

				  <td>{{ item.date}}</td>
				  <td>{{ item.category}}</td>
				  <td>{{ item.amount}}</td>
				  <td>{{ item.comment}}</td>

				  <tr/>
			  {% endfor %}

			  </tbody>
			</table>
			
		</div>
													
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	
	<script src="js/bootstrap.min.js"></script>

{% endblock %}