{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center mb-5 mr-0 bg-white loginForm">

		<h1>Rejestracja udana!</h1>
		
		<div class="col-10 offset-1 my-auto justify-content-center">
			<img src="img/money_laptop.jpg" class="img-fluid" alt="Money bills">
		</div>

		<p>Możesz już zalogować się na swoje konto.</p>
		
		<a href="/">Wróć do menu</a>
		
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	
	<script src="js/bootstrap.min.js"></script>

{% endblock %}
